@font-face{
  font-family: eightbit;
  src: url(PixeloidSans-nR3g1.ttf);
}

body{
  background-color:  black;

}


.hero-banner{
  height: 600px;
  background-image: url('8bit-hero-banner-dark.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.hero-text{
  max-width: 350px;
  color: white;
  font-family: eightbit;;

}

.card-text{
  max-width: 600px;
  color: white;
  font-family: eightbit;

}

.profile-text{
  max-width: 350px;
  color: white;
  font-family: eightbit;;

}


.nav-link{
  color: white;
  text-decoration: none;
  font-family: eightbit;;
  font-size: 20px;
}

.background-container-8bit{

  background-image: url('8bit-container.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.container-outline{
  outline-style: solid !important;;
  outline-color: white;
  outline-width: 4px;
}


.profile-image{
  outline-style: solid !important;;
  outline-color:  white;
  outline-width: 4px
  
}
